@page
@model Kolorowanie.Pages.FusionMultiModel
@{
}

<section class="section">
    <div class="container">
        <form method="post" id="myForm" enctype="multipart/form-data" asp-controller="YourController"
            asp-action="UploadFile">
            <div class="columns is-vcentered">
                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white">Black and white input image</span>
                    <div id="file-one" class="file is-centered has-name is-medium is-white">
                        <label class="file-label">
                            <input class="file-input" type="file" name="ImageFile1">
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose image
                                </span>
                            </span>
                            <span class="file-name">
                                No image uploaded
                            </span>
                        </label>
                    </div>
                </div>

                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white">Black and white input image</span>
                    <div id="file-two" class="file is-centered has-name is-medium is-white">
                        <label class="file-label">
                            <input class="file-input" type="file" name="ImageFile2">
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose image
                                </span>
                            </span>
                            <span class="file-name">
                                No image uploaded
                            </span>
                        </label>
                    </div>
                </div>

                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white has-text-center">Fusion model</span>
                    <div class="select is-medium">
                        <select class="block" asp-items="Model.ListModelsFusion" name="SelectedModel1"></select>
                    </div>
                </div>
            </div>

            <div class="columns is-vcentered">
                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white">Black and white input image</span>
                    <div id="file-three" class="file is-centered has-name is-medium is-white">
                        <label class="file-label">
                            <input class="file-input" type="file" name="ImageFile3">
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose image
                                </span>
                            </span>
                            <span class="file-name">
                                No image uploaded
                            </span>
                        </label>
                    </div>
                </div>

                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white">Black and white input image</span>
                    <div id="file-four" class="file is-centered has-name is-medium is-white">
                        <label class="file-label">
                            <input class="file-input" type="file" name="ImageFile4">
                            <span class="file-cta">
                                <span class="file-label">
                                    Choose image
                                </span>
                            </span>
                            <span class="file-name">
                                No image uploaded
                            </span>
                        </label>
                    </div>
                </div>

                <div class="column is-4 has-text-centered">
                    <span class="label is-size-5 has-text-white has-text-center">Run model</span>

                    <button class="button is-large js-modal-trigger" data-target="modal-js-example"
                        type="submit">Colorize</button>
                </div>
            </div>

        </form>
        <div asp-validation-summary="All"></div>
    </div>
</section>

@if (Model.ErrorMessage != null)
{
    <div class="notification is-danger">
        @Model.ErrorMessage
    </div>
}

@if (Model.ResultsPaths.Any() == true)
{
    <section class="section">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.ResultsPaths[0]))
            {
                <div class="columns is-vcentered">
                    <div class="column is-6 has-text-centered">
                        <div class="card has-background-dark">
                            <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                Black and white input
                            </p>
                            <div class="card-image mt-2">
                                <img src="@Model.InputsPaths[0]" alt="Input" />
                            </div>
                            <a href="@Model.InputsPaths[0]" download="input1"
                                class="card-content button is-black is-medium my-2">
                                Download
                            </a>
                        </div>
                    </div>

                    <div class="column is-6 has-text-centered">
                        <div class="card has-background-dark">
                            <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                Result of fusion model
                            </p>
                            <div class="card-image mt-2">
                                <img src="@Model.ResultsPaths[0]" alt="Result" />
                            </div>
                            <a href="@Model.ResultsPaths[0]" download="output_fusion1"
                                class="card-content button is-black is-medium my-2">
                                Download
                            </a>
                        </div>
                    </div>

                </div>
            }

            @if (!string.IsNullOrEmpty(Model.ResultsPaths[1]))
            {
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Black and white input
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.InputsPaths[1]" alt="Input" />
                                </div>
                                <a href="@Model.InputsPaths[1]" download="input2"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>

                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Result of fusion model
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.ResultsPaths[1]" alt="Result" />
                                </div>
                                <a href="@Model.ResultsPaths[1]" download="output_fusion2"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.ResultsPaths[2]))
            {
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Black and white input
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.InputsPaths[2]" alt="Input" />
                                </div>
                                <a href="@Model.InputsPaths[2]" download="input3"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>

                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Result of fusion model
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.ResultsPaths[2]" alt="Result" />
                                </div>
                                <a href="@Model.ResultsPaths[2]" download="output_fusion3"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.ResultsPaths[3]))
            {
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Black and white input
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.InputsPaths[3]" alt="Input" />
                                </div>
                                <a href="@Model.InputsPaths[3]" download="input4"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>

                        <div class="column is-6 has-text-centered">
                            <div class="card has-background-dark">
                                <p class="is-size-4 has-text-white has-text-centered has-text-weight-semibold">
                                    Result of fusion model
                                </p>
                                <div class="card-image mt-2">
                                    <img src="@Model.ResultsPaths[3]" alt="Result" />
                                </div>
                                <a href="@Model.ResultsPaths[3]" download="output_fusion4"
                                    class="card-content button is-black is-medium my-2">
                                    Download
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}